
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/*///////////////////////////////////////////////////
//
//            ▼ ベース設定 ▼
//
///////////////////////////////////////////////////*/
/* @font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
} */



html{
	color: #111;
	font-size: 16px;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	line-height: 2;
}
a{
	color: #111;
	display: block;
}
#wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.l_container{
	width: 95%;
	margin: 0 auto;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.m_container{
	width: 90%;
	margin: 0 auto;
	max-width: 1080px;
}
.s_container{
	width: 90%;
	margin: 0 auto;
	max-width: 960px;
}
@media screen and (min-width:1540px) {
	.l_container{max-width: 1680px;}
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	html{font-size: 15px;}
	.container{max-width: 1280px;}
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{font-size: 14px;}
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	html{font-size: 13px;}
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
	--brown: #795B37;
	--emegreen: #65C097;
	--green01: #e5f2e8;
	--green02: #c4e3cc;
	--green03: #849989;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.preload * { transition: none !important; }

/*///////////////////////////////////////////////////
//
//            ▼ 共通 ▼
//
///////////////////////////////////////////////////*/
body.active{
	overflow: hidden;
}
main{
	margin-top: 8.5rem;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}
.ttl_wrap{
	text-align: center;
	color: var(--brown);
	margin-bottom: 3rem;
}
.ttl_wrap .txt01{
	font-size: 1.05rem;
	font-weight: bold;
	letter-spacing: 0.05em;
}
.ttl_wrap .ttl{
	font-size: 3.75rem;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	letter-spacing: 0.05em;
	margin-top: 0.5rem;
}
.sub_ttl{
	font-size: 1.8rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 2.5rem;
}

.btn{
	position: relative;
	max-width: 25rem;
	width: 100%;
	border: solid 1px var(--brown);
	border-radius: 2rem;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
}
.btn.line{
	background: var(--line);
	border: solid 1px var(--line);
}
.btn.green{
	border: solid 1px var(--green03);
}
.btn::before{
	position: absolute;
	content: '';
	top: -10%;
	left: -120%;
	width: 120%;
	height: 120%;
	background: var(--brown);
	border-radius: 2.5rem;
	transition: 1s cubic-bezier(.79,.01,.21,.96);
}
.btn.line::before{
	background: #fff;
}
.btn.green::before{
	background: var(--green03);
}
.btn:hover::before{
	left: -5%
}
.btn a{
	position: relative;
	font-size: 1.125rem;
	font-weight: bold;
	color: var(--brown);
	text-align: center;
	max-width: 25rem;
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
	transition: 1s cubic-bezier(.79,.01,.21,.96);
}
.btn.line a{
	color: #fff;
}
.btn.green a{
	color: var(--green03);
}
.btn a:hover,
.btn.green a:hover{
	color: #fff;
}
.btn.line a:hover{
	color: var(--line);
}
.btn a .angle{
	position: absolute;
	top: 50%;
	right: 1.5rem;
	transform: translateY(-50%);
	font-size: 1.5rem;
	transition: right 1s cubic-bezier(.79,.01,.21,.96);
}
.btn a:hover .angle{
	right: 0.75rem;
}
.btn.line a .icon{
	font-size: 2.25rem;
	margin-right: 1rem;
}

.vertical_txt{
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.fadein{
	opacity: 0;
	transform: translateY(50px);
}
.fadein.active{
	opacity: 1;
	transform: translateY(0);
}
.fade01.active{
	transition: 1s;
}
.fade02.active{
	transition: 1s .3s;
}
.fade_side_r{
	opacity: 0;
	transform: translateX(50px);
}
.fade_side_l{
	opacity: 0;
	transform: translateX(-50px);
}
.fade_side_r.active,
.fade_side_l.active{
	opacity: 1;
	transform: translateY(0);
}
.fade_side00.active{
	transition: 1s;
}
.fade_side01.active{
	transition: 1s .5s;
}
.fade_side02.active{
	transition: 1s 1s;
}
.txt_show{
	opacity: 0;
}
.txt_show.active{
	opacity: 1;
	transition: opacity 1.3s cubic-bezier(.79,.01,.21,.96) .5s;
}
/*///////////////////////////////////////////////////
//
//            ▼ ナビ ▼
//
///////////////////////////////////////////////////*/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 50001;
}
header .header_in{
	display: flex;
	align-items: center;
	padding: 0 1.5vw 0 2vw;
	transition: 1s;
}
header .header_in.active{
	background: rgba(255,255,255,.95);
}
header .logo{
	max-width: 10.5rem;
	width: 100%;
	margin-right: 1.5vw;
}
header .logo img{
	display: block;
}
header nav{
	margin-left: auto;
}
header nav ul{
	display: flex;
	align-items: center;
}
header nav ul li a{
	color: var(--brown);
	font-size: 0.9rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 8.5rem;
	padding: 1vw;
	white-space: nowrap;
	transition: .7s;
}
header nav ul li a:hover{
	color: var(--emegreen);
}
header .sns_wrap{
	display: flex;
	align-items: center;
	margin-left: 1vw;
}
header .sns_wrap a{
	color: var(--brown);
	padding: 0.3vw 0.8vw;
	line-height: 1;
	transition: .7s;
}
header .sns_wrap a:hover{
	color: var(--emegreen);
}
header .sns_wrap a span{
	font-size: 1.8rem;
	line-height: 1;
}
/*///////////////////////////////////////////////////
//
//            ▼ フッター ▼
//
///////////////////////////////////////////////////*/
footer .box{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .box .txt{
	width: 46%;
}
footer .box .txt_in{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1vw 3vw;
}
footer .box .txt .logo{
	max-width: 15rem;
	width: 35%;
}
footer .box .txt .shop_name{
	margin: 0.75vw 0 1.5vw;
	color: var(--brown);
}
footer .box .txt .shop_name p{
	font-size: 0.875rem;
	letter-spacing: 0.05em;
}
footer .box .txt .shop_name h3{
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 0.05em;
}
footer .box .txt .address p{
	letter-spacing: 0.05em;
}
footer .box .txt .address p + p{
	margin-top: 1.5rem;
}
footer .box .txt .sns_wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5vw;
}
footer .box .txt .sns_wrap a{
	margin-right: 1.5rem;
	font-size: 2.8rem;
	line-height: 1;
	color: var(--brown);
	transition: .7s;
}
footer .box .txt .sns_wrap a:last-of-type{
	margin-right: 0;
}
footer .box .txt .sns_wrap a:hover{
	color: var(--emegreen);
}

footer .box .r_box{
	width: 54%;
}
.gmap{
	overflow: hidden;
	height: 55vh;
	min-height: 250px;
	position: relative;
}
.gmap iframe{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
footer .copyright{
	background: var(--brown);
	padding: 1.5rem;
}
footer .copyright p{
	color: #fff;
	text-align: center;
	font-size: 0.875rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ01 ▼
//
///////////////////////////////////////////////////*/
.top01{
	padding-right: 5%;
}
.top01 .mv{
	position: relative;
	width: 100%;
	background: url(../images/top/mv.jpg) center center / cover no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 3.5rem 5rem 12.5rem 0;
	margin-right: 10%;
}
.top01 .mv::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.25);
}
.top01 .mv .txt{
	position: relative;
	color: #fff;
	z-index: 2;
}
.top01 .mv .txt h2{
	font-size: 7.334vw;
	line-height: 1.4;
	letter-spacing: 0.025em;
	margin-bottom: 1.5rem;
}
.top01 .mv .txt p{
	font-size: 2.334vw;
	font-weight: bold;
	letter-spacing: 0.025em;
}
.top01 .mv .txt p .underline{
	position: relative;
	display: inline-block;
	font-size: 2.667vw;
}
.top01 .mv .txt p .underline::before{
	position: absolute;
	content: '';
	top: 50%;
	left: -2%;
	width: 0;
	height: 1.667vw;
	background: #849989;
	z-index: -1;
	transition: 1s cubic-bezier(.79,.01,.21,.96) 1.2s;
}
.top01 .mv .txt p .underline.active::before{
	width: 104%;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ02 ▼
//
///////////////////////////////////////////////////*/
.top02{
	padding: 6rem 0;
}
.top02 .ttl_wrap{
	margin-bottom: 3.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ03 ▼
//
///////////////////////////////////////////////////*/
.before_after_wrap{
	padding: 6rem 0 8rem;
	overflow: hidden;
}
.before_after_wrap.top03::before{
	position: absolute;
	content: '';
	top: 10.25rem;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(229,242,232,.4);
}
.before_after_wrap_in{
	position: relative;
	z-index: 2;
}
.before_after_wrap .box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.before_after_wrap .box article{
	width: 48.75%;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.15);
	margin-top: 2rem;
	transition: 1s;
}
.before_after_wrap .box article:nth-of-type(-n+2){
	margin-top: 0;
}
.before_after_wrap .box article:hover{
	box-shadow: 0 6px 30px rgba(132,153,137,.7);
}
.before_after_wrap .box article a{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}
.before_after_wrap .box article a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--green01);
	transition: .5s;
}
.before_after_wrap .box article a:hover::before{
	width: 100%;
}
.before_after_wrap .box article a .img{
	position: relative;
	min-width: 12rem;
	width: 40%;
	z-index: 2;
	overflow: hidden;
}
.before_after_wrap .box article a .img img{
	width: 100%;
	height: auto;
	transition: 1s;
}
.before_after_wrap .box article a:hover .img img{
	transform: scale(1.05);
}
.before_after_wrap .box article a .txt{
	position: relative;
	width: 60%;
	padding-left: 1.5rem;
	z-index: 2;
}
.before_after_wrap .box article a .txt h4{
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 0.25rem;
	color: var(--brown);
}
.before_after_wrap .box article a .txt .inner{
	margin-top: 3rem;
}
.before_after_wrap .box article a .txt .inner h5{
	font-size: 1rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
}
.before_after_wrap .box article a .txt .inner p{
	color: #666;
}
.before_after_wrap .btn{
	margin-top: 4rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ04 ▼
//
///////////////////////////////////////////////////*/
.top04{
	padding: 12rem 0 0;
	background: rgba(229,242,232,.4);
}
.top04 .img01{
	position: relative;
	max-width: 480px;
	width: 30%;
	margin: 0 auto;
	z-index: 2;
}
.top04 .img01 h3{
	position: absolute;
	top: -2.4rem;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	font-size: 1.5rem;
	letter-spacing: 0.05em;
	color: var(--brown);
}
.top04 .img02{
	position: relative;
	margin-top: -5vw;
	z-index: 1;
}
.top04 .img02::before{
	position: absolute;
	content: '';
	bottom: 100%;
	right: 0;
	width: 100%;
	height: 50rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.top04 img{
	width: 100%;
	height: auto;
}
.top04 .box{
	background: #fff;
	padding: 9rem 0;
}
.top04 .box_in{
	display: flex;
	max-width: 1080px;
	margin: 0 auto;
}
.top04 .box_in h4{
	font-size: 2.8rem;
	white-space: nowrap;
}
.top04 .box_in .txt{
	margin: 4rem 0 0 auto;
	width: 100%;
	padding-left: 10%;
}
.top04 .box_in .txt p{
	font-size: 1.25rem;
	line-height: 2.4;
}
.top04 .box_in .txt p + p{
	margin-top: 2.4rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ05 ▼
//
///////////////////////////////////////////////////*/
.top05{
	padding: 6rem 0 15rem;
}
.top05 .box{
	display: flex;
	justify-content: space-between;
}
.top05 .box .item{
	width: 32.5%;
}
.top05 .box .item a{
	position: relative;
}
.top05 .box .item a .treatment_time{
	position: absolute;
	top: -2.8rem;
	right: 1rem;
	width: 5.6rem;
	height: 5.6rem;
	background: var(--brown);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.top05 .box .item a .treatment_time p{
	color: #fff;
	text-align: center;
	font-size: 1.125rem;
}
.top05 .box .item a .img{
	position: relative;
}
.top05 .box .item a .img::before{
	position: absolute;
	content: 'もっと見る';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(121,91,55,.5);
	border: solid 10px rgba(255,255,255,.4);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #fff;
	opacity: 0;
	transition: 1s;
}
.top05 .box .item a .img::after{
	position: absolute;
	content: '→';
	bottom: -1.25rem;
	right: 0;
	width: 2.5rem;
	height: 2.5rem;
	background: var(--brown);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #fff;
	opacity: 0;
	transition: 1s;
}
.top05 .box .item a:hover .img::before,
.top05 .box .item a:hover .img::after{
	opacity: 1;
}
.top05 .box .item a .img img{
	width: 100%;
	height: auto;
}
.top05 .box .item .txt{
	margin-top: 1.5rem;
	text-align: center;
	padding: 0 1.5rem;
}
.top05 .box .item .txt h4{
	position: relative;
	font-size: 1.25rem;
	color: var(--brown);
	margin-bottom: 1.5rem;
}
.top05 .box .item .txt h4::after{
	position: absolute;
	content: '';
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(0.5rem);
	background: #DCD8E7;
	width: 2rem;
	height: 1px;
}
.top05 .btn{
	margin-top: 4rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ06 ▼
//
///////////////////////////////////////////////////*/
.top06{
	background: rgba(229,242,232,.4);
	padding: 6rem 0 0;
}
.top06::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.top06 .box{
	position: relative;
	z-index: 2;
}
.top06 .item{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 8rem;
}
.top06 .item:first-of-type{
	margin-top: 0;
}
.top06 .item .ttl_wrap{
	display: inline-block;
	text-align: left;
}
.top06 .item:nth-of-type(even) .ttl_wrap{
	margin-left: auto;
}
.top06 .item_in{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top06 .item .img{
	width: 70%;
}
.top06 .item:nth-of-type(odd) .img{
	order: 1;
	margin-left: -15%;
}
.top06 .item:nth-of-type(even) .img{
	order: 2;
	margin-right: -15%;
}
.top06 .item .img img{
	width: 100%;
	height: auto;
}
.top06 .item .txt{
	width: 45%;
}
.top06 .item:nth-of-type(odd) .txt{
	order: 2;
	padding-left: 5%;
}
.top06 .item:nth-of-type(even) .txt{
	order: 1;
	padding-right: 5%;
}
.top06 .item_in .txt h4{
	font-size: 1.75rem;
	margin-bottom: 2.5rem;
}
.top06 .item_in .txt p{
	font-size: 1.1rem;
	line-height: 2.4;
}
.top06 .item_in .txt .btn_wrap{
	margin: 4rem 0 0;
}
.top06 .item_in .txt .btn_wrap .btn{
	margin: 1rem 0 0;
}
.top06 .item_in .txt .btn_wrap .btn:first-of-type{
	margin-top: 0;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ07 ▼
//
///////////////////////////////////////////////////*/
.top07{
	padding: 8rem 0 6rem;
}
.top07 .box{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.top07 .box article{
	width: 50%;
	margin-top: 2.5rem;
}
.top07 .box article:nth-of-type(-n+2){
	margin-top: 0;
}
.top07 .box article a{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top07 .box article a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(229,242,232,.4);
	transition: .7s cubic-bezier(.79,.01,.21,.96);
}
.top07 .box article a:hover::before{
	width: 100%;
}
.top07 .box article a .img{
	position: relative;
	width: 34%;
	z-index: 2;
	overflow: hidden;
}
.top07 .box article a .img img{
	width: 100%;
	height: auto;
	transition: .7s cubic-bezier(.79,.01,.21,.96) .1s;
}
.top07 .box article a:hover .img img{
	transform: scale(1.05);
}
.top07 .box article a .txt{
	position: relative;
	width: 66%;
	padding: 0 1.5rem;
	z-index: 2;
}
.top07 .box article a .txt h4{
	font-size: 1.125rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
	margin-bottom: 0.75rem;
}
.top07 .box article a .txt p{
	color: #555;
	line-height: 1.8;
}
.top07 .box article a .txt time{
	display: inline-block;
	font-size: 0.875rem;
	color: #555;
	margin-top: 0.75rem;
}
.top07 .btn{
	margin-top: 4rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ08 ▼
//
///////////////////////////////////////////////////*/
.top08{
	padding: 6rem 0 10rem;
}
.top08 .box{
	position: relative;
	background: rgba(196,227,204,.3);
	padding: 5rem 3rem 6rem;
	text-align: center;
}
.top08 .box h3{
	font-size: 1.875rem;
	letter-spacing: 0.05em;
	color: var(--green03);
	margin-bottom: 1.5rem;
}
.top08 .box p + p{
	margin-top: 1.5rem;
}
.top08 .box .btn{
	margin-top: 3rem;
}
.top08 .box .fig{
	position: absolute;
	width: 14rem;
}
.top08 .box .fig img{
	width: 100%;
	height: auto;
}
.top08 .box .fig01{
	top: 1rem;
	left: 1rem;
}
.top08 .box .fig02{
	bottom: 1rem;
	right: 1rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ お問い合わせ 共通 ▼
//
///////////////////////////////////////////////////*/
.contact_wrap .box{
	display: flex;
}
.contact_wrap .box .img{
	position: relative;
	width: 46%;
}
.contact_wrap .box .img::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(229,242,232,.25);
}
.contact_wrap .box .img img{
	object-position: 20% 50%; 
}
.contact_wrap .box .txt{
	width: 54%;
	padding: 5vw 3vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FAFAFA;
}
.contact_wrap .box .txt .ttl_wrap{
	margin-bottom: 3vw;
}
.contact_wrap .box .txt p.copy{
	font-size: 1.5rem;
	color: var(--green03);
}
.contact_wrap .box .txt .btn_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 3.5vw;
}
.contact_wrap .box .txt .btn_wrap .btn{
	max-width: 20rem;
	margin: 0 1.75vw 0 0;
}
.contact_wrap .box .txt .btn_wrap .btn:last-of-type{
	margin-right: 0;
}
.contact_wrap .box .txt .btn_wrap .btn a{
	max-width: 20rem;
	font-size: 1rem;
}
.contact_wrap .box .txt .btn_wrap .btn a .angle{
	right: 1.25rem;
	font-size: 1.5rem;
}
.contact_wrap .box .txt .btn_wrap .btn a:hover .angle{
	right: 0.5rem;
}
.contact_wrap .box .txt .btn_wrap .btn.line a .icon{
	font-size: 2rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ キャンペーンバナー ▼
//
///////////////////////////////////////////////////*/
.campaign{
	position: relative;
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
}
.campaign .limited{
	position: absolute;
	top: -2.85rem;
	left: -2rem;
	background: var(--emegreen);
	width: 5.7rem;
	height: 5.7rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-15deg);
	box-shadow: 0 1px 5px rgb(0,0,0,.3);
}
.campaign .limited p{
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.2;
	color: #fff;
}
.campaign .ttl_box{
	background: rgba(101,192,151,.15);
	border: solid 3px #65C097;
}
.campaign .ttl_box .ttl{
	font-size: 2.125rem;
	color: #65C097;
	text-align: center;
	padding: 1rem 0.5rem;
}
.campaign .campaign_in{
	display: flex;
	justify-content: space-between;
	padding: 2.5rem;
	border: solid 3px #65C097;
	border-top: none;
}
.campaign .img_wrap{
	width: 34%;
}
.campaign .img_wrap .img{
	margin-top: 1rem;
}
.campaign .img_wrap .img:first-of-type{
	margin-top: 0;
}
.campaign .img_wrap .img img{
	width: 100%;
	height: auto;
}
.campaign .emegreen{
	color: var(--emegreen);
}
.campaign .txt_wrap{
	width: 66%;
	padding-left: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.campaign .txt_wrap .txt p{
	font-size: 1.125rem;
}
.campaign .txt_wrap .txt p span{
	font-weight: bold;
}
.campaign .txt_wrap .img{
	max-width: 600px;
	width: 100%;
}
.campaign .txt_wrap .img img{
	width: 100%;
	height: auto;
}
.campaign .btn{
	margin-top: auto;
}

.campaign_lower{
	position: relative;
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	border: solid 3px #65C097;
	background: rgba(152,209,190,.15);
}
.campaign_lower .campaign_lower_in{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 3rem;
}
.campaign_lower .limited{
	position: absolute;
	top: -1.75rem;
	left: -1.5rem;
	background: var(--emegreen);
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-15deg);
	box-shadow: 0 1px 5px rgb(0,0,0,.3);
}
.campaign_lower .limited p{
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.2;
	color: #fff;
}
.campaign_lower .txt{
	position: relative;
	margin-right: 2.5rem;
}
.campaign_lower .txt .fig{
	position: absolute;
	top: -1.25rem;
	left: 50%;
	transform: translateX(-50%);
	width: 4.5rem;
}
.campaign_lower .txt .fig img{
	width: 100%;
	height: auto;
}
.campaign_lower .txt p{
	font-size: 1.75rem;
	line-height: 1;
	font-weight: bold;
	color: #555;
}
.campaign_lower .txt p.course{
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.2;
}
.campaign_lower .txt p.price{
	margin-top: -1.5rem;
}
.campaign_lower .txt p .large_txt{
	color: var(--green02);
	font-size: 4.375rem;
}
.campaign_lower .txt p .medium_txt{
	font-size: 2.5rem;
}
.campaign_lower .btn{
	margin: 0;
}
/*///////////////////////////////////////////////////
//
//            ▼ 下層共通 ▼
//
///////////////////////////////////////////////////*/
.lower_mv{
	padding: 9.75rem 0 0;
}
.lower_mv .ttl_wrap{
	text-align: left;
	margin-bottom: 4rem;
}
.lower_mv .ttl_wrap .txt01{
	font-size: 1.35rem;
}
.lower_mv .ttl_wrap .ttl{
	font-size: 6rem;
}
.lower_mv .mv img{
	width: 100%;
	height: auto;
}

.lower_menu{
	padding: 7.5rem 0 8rem;
}
.lower_menu p{
	font-size: 0.9rem;
	letter-spacing: 0.05em;
	color: #888;
}
.lower_menu ul{
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}
.lower_menu ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: solid 1px #CCCACC;
}
.lower_menu.menu_price ul li{ width: 20%; }
.lower_menu.treatment ul li,
.lower_menu.voirlifting ul li{ width: 25%; }
.lower_menu.about ul li{ width: 33.3%; }
.lower_menu ul li:last-of-type{
	border-right: solid 1px #CCCACC;
}
.lower_menu ul li a{
	padding: 0.25rem 1rem;
	font-size: 0.875rem;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0.05em;
	color: var(--brown);
	text-align: center;
	width: 100%;
	transition: .7s;
}
.lower_menu ul li a:hover{
	color: var(--emegreen);
}
.table{
	width: 100%;
	border: solid 1px #707070;
}
.table th,
.table td{
	font-size: 0.75rem;
	line-height: 1.5;
	border: solid 1px #707070;
	padding: 0.75rem 1.5rem;
}
.table th{
	background: #C4E3CC;
}
.table tbody th,
.table tbody td{
	font-weight: normal;
	text-align: center;
	background: #fff;
}
.table td.price{
	text-align: right;
}
.table td.txt_l{
	text-align: left;
}
.table th.recommend{
	position: relative;
	background: rgba(121,91,55,.25);
	border: solid 3px #707070;
}
.table th.recommend .icon{
	position: absolute;
	top: -0.75rem;
	left: -0.75rem;
	width: 2.8rem;
	height: 2.8rem;
	background: #CC0000;
	border-radius: 50%;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-15deg);
}
.table th.recommend .icon.icon02{
	left: -1.25rem;
	width: 5rem;
	height: 3.125rem;
}
.table th.recommend .icon p{
	color: #fff;
	font-size: 0.73rem;
	line-height: 1.3;
}

.links_wrap{
	background: rgba(229,242,232,.4);
	padding: 2.5rem 0;
	margin-top: 8rem;
}
.links_wrap ul{
	display: flex;
	justify-content: space-between;
}
.links_wrap ul li{
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,.16);
	width: 31%;
}
.links_wrap ul li a{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.links_wrap ul li a .img{
	width: 33%;
	overflow: hidden;
}
.links_wrap ul li a .img img{
	width: 100%;
	height: auto;
	transition: .7s cubic-bezier(.79,.01,.21,.96);
}
.links_wrap ul li a:hover .img img{
	opacity: .6;
	transform: scale(1.05);
}
.links_wrap ul li a .txt{
	width: 67%;
	padding: 1rem 1.5rem;
}
.links_wrap ul li a .txt p{
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.7;
	color: var(--brown);
	transition: .7s cubic-bezier(.79,.01,.21,.96);
}
.links_wrap ul li a:hover .txt p{
	color: var(--emegreen);
}
/*///////////////////////////////////////////////////
//
//            ▼ menu_price02 ▼
//
///////////////////////////////////////////////////*/
.menu_price02{
	padding: 5rem 0;
}
.menu_price02.first{
	padding: 0 0 5rem;
}
.menu_price02.green{
	padding: 5rem 0;
	background: rgba(229,242,232,.4);
}
.menu_price02.green::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.menu_price02 .box{
	position: relative;
	z-index: 2;
}
.menu_price02 .box.bg{
	padding: 5rem 0;
	background: rgba(229,242,232,.4);
}
.menu_price02 .box .item{
	display: flex;
	justify-content: space-between;
}
.menu_price02#contents05 .box .item{
	align-items: center;
}
.menu_price02 .box .item .txt{
	width: 37%;
	margin-top: 3.8rem;
}
.menu_price02 .box .item .txt h2{
	font-size: 1.8rem;
	color: var(--brown);
	margin-bottom: 1rem;
}
.menu_price02 .box .item .txt p{
	font-size: 1.15rem;
	line-height: 2.4;
}
.menu_price02 .box .item .txt .btn{
	margin: 4rem 0 0;
}
.menu_price02 .box .item .img01,
.menu_price02 .box .item .img02{
	width: 27%;
}
.menu_price02 .box .item .img02{
	margin-top: 7.6rem;
}
.menu_price02 .box .item .img01 img,
.menu_price02 .box .item .img02 img{
	width: 100%;
	height: auto;
}
.menu_price02 .box .item .txt02{
	width: 27%;
}
.menu_price02 .box .item .txt02 .txt_in{
	margin-top: 3rem;
}
.menu_price02 .box .item .txt02 .txt_in:first-of-type{
	margin-top: 0;
}
.menu_price02 .box .item .txt02 .ttl{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.75rem;
}
.menu_price02 .box .item .txt02 .ttl h3{
	font-size: 1.4rem;
	color: var(--brown);
}
.menu_price02 .box .item .txt02 .ttl .price{
	font-size: 1.4rem;
	font-weight: bold;
}
.menu_price02 .box .item .txt02 .ttl .price span{
	font-size: 1rem;
}
.menu_price02 .box .item .txt02 .copy{
	font-size: 0.9rem;
	line-height: 2.4;
}

.menu_price02 .table{
	margin-top: 4rem;
}
.menu_price02#contents01 .table th,
.menu_price02#contents01 .table td,
.treatment04 .table th,
.treatment04 .table td{
	padding: 0.75rem 0.2rem;
}
.menu_price02#contents02 .table th,
.menu_price02#contents02 .table td{
	padding: 0.75rem;
}
.menu_price02#contents03 .table{
	width: 20rem;
	margin-top: -3.5rem;
}
.menu_price02#contents03 .table th{
	width: 50%;
}
.menu_price02#contents04 .table{
	width: 35%;
	margin-top: -3.5rem;
}
.menu_price02#contents04 .table th,
.menu_price02#contents04 .table td{
	padding: 0.75rem 1rem;
}
.menu_price02 .notes,
.treatment04 .notes{
	margin-top: 0.5rem;
}
.menu_price02 .notes p,
.treatment04 .notes p{
	line-height: 1.5;
}
.menu_price02 .notes p.red,
.treatment04 .notes p.red{
	color: #CC0000;
}
.menu_price02 .campaign_lower{
	margin-top: 5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ menu_price03 ▼
//
///////////////////////////////////////////////////*/
.menu_price03{
	padding: 6rem 0;
}
.menu_price03 .box{
	background: #F6F6F9;
	padding: 3.5rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
}
.menu_price03 .box_in{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
}
.menu_price03 .box_in h2{
	font-size: 1.8rem;
	text-align: center;
	color: var(--green03);
	margin-bottom: 1.5rem;
}
.menu_price03 .box_in p{
	font-size: 1.15rem;
	line-height: 2.4;
}
/*///////////////////////////////////////////////////
//
//            ▼ menu_price04 ▼
//
///////////////////////////////////////////////////*/
.menu_price04{
	padding: 0 0 12rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment02 ▼
//
///////////////////////////////////////////////////*/
.treatment02{
	padding: 0 0 5rem;
}
.treatment02 .box01 .item{
	max-width: 1080px;
	width: 100%;
	margin: 0 auto;
	background: #F6F6F9;
	padding: 3.5rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.treatment02 .box01 .item .inner{
	max-width: 880px;
	margin: 0 auto;
}
.treatment02 .box01 .item .inner h3{
	font-size: 1.5rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 1.75rem;
}
.treatment02 .box01 .item .inner p{
	line-height: 2.4;
}
.treatment02 .box01 .item .inner p + p{
	margin-top: 1.5rem;
}
.treatment02 .box01 .item .inner ol{
	margin-left: 2rem;
}
.treatment02 .box01 .item .inner ol li{
	list-style-type: decimal;
	line-height: 2.4;
}

.treatment02 .box02{
	margin-top: 6rem;
	display: flex;
	justify-content: space-between;
}
.treatment02 .box02 .item{
	width: 46%;
}
.treatment02 .box02 .item h3{
	font-size: 1.5rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 4.5rem;
}
.treatment02 .box02 .item .item_in{
	display: flex;
	justify-content: space-between;
}
.treatment02 .box02 .item .item_in .inner{
	position: relative;
	width: 46.5%;
}
.treatment02 .box02 .item .item_in .inner .num{
	position: absolute;
	top: -1.5625rem;
	left: -1.5625rem;
	width: 3.125rem;
	height: 3.125rem;
	border-radius: 50%;
	border: solid 1px var(--brown);
	font-size: 0.75rem;
	color: var(--brown);
	background: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.treatment02 .box02 .item .item_in .inner .img{
	border: solid 1px #E5E1E1;
	border-radius: 5px;
	overflow: hidden;
}
.treatment02 .box02 .item .item_in .inner .img img{
	width: 100%;
	height: auto;
}
.treatment02 .box02 .item .item_in .inner .txt{
	margin-top: 1.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment03 ▼
//
///////////////////////////////////////////////////*/
.treatment03{
	padding: 6rem 0 14rem;
}
.treatment03 .box{
	margin-bottom: 4rem;
}
.treatment03 .box .sub_ttl{
	margin-bottom: 4rem;
}
.treatment03 .box .item{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.treatment03 .box .item .txt{
	width: 35%;
	min-width: 24rem;
	padding-right: 3rem;
}
.treatment03 .box .item .txt p{
	font-size: 1.15rem;
	line-height: 2.4;
}
.treatment03 .box .item .txt p.notes{
	font-size: 1rem;
	line-height: 2;
	margin-top: 2rem;
}
.treatment03 .box .item .txt .btn{
	margin: 3rem 0 0;
}
.treatment03 .box .item .img{
	width: 65%;
}
.treatment03 .box .item .img img{
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment04 ▼
//
///////////////////////////////////////////////////*/
.treatment04{
	padding: 6rem 0 10rem;
	background: rgba(229,242,232,.4);
}
.treatment04::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.treatment04 .box{
	position: relative;
	z-index: 2;
}
.treatment04 .box .sub_ttl{
	margin-bottom: 5rem;
}
.treatment04 .box .item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8.75rem;
}
.treatment04 .box .item:first-of-type{
	margin-top: 0;
}
.treatment04 .box .item .txt{
	width: 38%;
}
.treatment04 .box .item:nth-of-type(odd) .txt{
	order: 2;
	padding-left: 5rem;
}
.treatment04 .box .item:nth-of-type(even) .txt{
	order: 1;
	padding-right: 5rem;
}
.treatment04 .box .item .txt h3{
	position: relative;
	font-size: 1.8rem;
	line-height: 1.8;
	margin-bottom: 2rem;
}
.treatment04 .box .item .txt h3 .num{
	position: absolute;
	top: -6.75rem;
	left: -2rem;
	display: inline-block;
	font-size: 8.125rem;
	color: rgba(132,153,137,.3);
}
.treatment04 .box .item .txt p{
	font-size: 1.1rem;
	line-height: 2.4;
}
.treatment04 .box .item .img{
	width: 62%;
}
.treatment04 .box .item:nth-of-type(odd) .img{
	order: 1;
}
.treatment04 .box .item:nth-of-type(even) .img{
	order: 2;
}
.treatment04 .box .item .img img{
	width: 100%;
	height: auto;
}
.treatment04 .table_wrap{
	margin-top: 8rem;
}
.treatment04 .btn{
	margin-top: 7.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment05 ▼
//
///////////////////////////////////////////////////*/
.treatment05{
	padding: 7.5rem 0 12rem;
}
.treatment05 .box{
	background: #F6F6F9;
	padding: 3.5rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.treatment05 .box .box_in{
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
}
.treatment05 .box_in h2{
	font-size: 1.5rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 1.75rem;
}
.treatment05 .box_in p{
	line-height: 2.4;
}
.treatment05 .box_in ol{
	margin-left: 2rem;
}
.treatment05 .box_in ol li{
	list-style-type: decimal;
	line-height: 2.4;
}
/*///////////////////////////////////////////////////
//
//            ▼ voirlifting02 ▼
//
///////////////////////////////////////////////////*/
.voirlifting02{
	padding: 6rem 0;
	background: rgba(229,242,232,.4);
}
.voirlifting02::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.voirlifting02 .box{
	position: relative;
	z-index: 2;
}
.voirlifting02 .box .item::after,
.voirlifting03 .box .item::after{
	content: '';
	display: table;
	clear: both;
}
.voirlifting02 .box .item .txt,
.voirlifting03 .box .item .txt{
	width: 100%;
}
.voirlifting02 .box .item .txt .inner,
.voirlifting03 .box .item .txt .inner{
	margin-top: 4rem;
}
.voirlifting02 .box .item .txt .inner:first-of-type,
.voirlifting03 .box .item .txt .inner:first-of-type{
	margin-top: 0;
}
.voirlifting02 .box .item .txt .inner h3,
.voirlifting03 .box .item .txt .inner h3{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.voirlifting02 .box .item .txt .inner p,
.voirlifting03 .box .item .txt .inner p{
	font-size: 1.1rem;
}
.voirlifting02 .box .item .img,
.voirlifting03 .box .item .img{
	width: 60%;
}
.voirlifting02 .box .item .img{
	float: right;
	margin: 0 0 2rem 5%;
}
.voirlifting02 .box .item .img img,
.voirlifting03 .box .item .img img{
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ voirlifting03 ▼
//
///////////////////////////////////////////////////*/
.voirlifting03{
	padding: 6rem 0;
}
.voirlifting03 .box .item .img{
	float: left;
	margin: 0 5% 2rem 0;
}
/*///////////////////////////////////////////////////
//
//            ▼ voirlifting04 ▼
//
///////////////////////////////////////////////////*/
.voirlifting04{
	padding: 6rem 0;
	background: rgba(229,242,232,.4);
}
.voirlifting04::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.voirlifting04 .box{
	position: relative;
	z-index: 2;
}
.voirlifting04 .box .box_in{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.voirlifting04 .box .item{
	width: 47%;
	margin-top: 4rem;
}
.voirlifting04 .box .item:nth-of-type(-n+2){
	margin-top: 0;
}
.voirlifting04 .box .item .img_wrap{
	display: flex;
}
.voirlifting04 .box .item .img_wrap .img{
	position: relative;
	width: 50%;
}
.voirlifting04 .box .item .img_wrap .img::before{
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1;
	color: var(--brown);
}
.voirlifting04 .box .item .img_wrap .img.before::before{
	content: 'Before';
}
.voirlifting04 .box .item .img_wrap .img.after::before{
	content: 'After';
}
.voirlifting04 .box .item .img_wrap .img img{
	width: 100%;
	height: auto;
}
.voirlifting04 .box .item .txt{
	margin-top: 1rem;
}
.voirlifting04 .box .item .txt h3{
	font-size: 1.25rem;
	color: var(--brown);
}
/*///////////////////////////////////////////////////
//
//            ▼ voirlifting05 ▼
//
///////////////////////////////////////////////////*/
.voirlifting05{
	padding: 6rem 0 12rem;
}
.voirlifting05 dl{
	border: solid 1px #E5E1E1;
	border-radius: 20px;
	margin-top: 2rem;
}
.voirlifting05 dl:first-of-type{
	margin-top: 0;
}
.voirlifting05 dl .que,
.voirlifting05 dl .ans{
	position: relative;
	padding: 1rem 2rem 1rem 7rem;
}
.voirlifting05 dl .que{
	font-size: 1.25rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.voirlifting05 dl .ans{
	display: none;
	border-top: solid 1px #E5E1E1;
}
.voirlifting05 dl .que::before,
.voirlifting05 dl .ans::before{
	position: absolute;
	top: 0.5rem;
	left: 2rem;
	font-size: 1.125rem;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	border: solid 1px var(--brown);
	border-radius: 50%;
	width: 3.125rem;
	height: 3.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.voirlifting05 dl .que::before{
	content: 'Q';
	color: var(--brown);
}
.voirlifting05 dl .ans::before{
	content: 'A';
	color: #fff;
	background: var(--brown);
}
.voirlifting05 dl .que span{
	color: var(--brown);
	font-size: 2rem;
	line-height: 1;
	transition: .7s;
}
.voirlifting05 dl .que.active span{
	transform: rotate(-180deg);
}
.voirlifting05 dl .ans a{
	display: inline;
	text-decoration: underline;
	transition: .7s;
}
.voirlifting05 dl .ans a:hover{
	color: var(--emegreen);
}
/*///////////////////////////////////////////////////
//
//            ▼ about02 ▼
//
///////////////////////////////////////////////////*/
.about02{
	padding: 0 0 6rem;
}
.about02 .box::after{
	content: '';
	display: table;
	clear: both;
}
.about02 .box .txt{
	width: 100%;
}
.about02 .box .txt h3{
	font-size: 1.8rem;
	margin-bottom: 2rem;
}
.about02 .box .txt p{
	font-size: 1.15rem;
	line-height: 2.4;
}
.about02 .box .img{
	float: right;
	margin: 0 0 1rem 5%;
	width: 55%;
}
.about02 .box .img img{
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ about03 ▼
//
///////////////////////////////////////////////////*/
.about03{
	padding: 6rem 0;
	background: rgba(229,242,232,.4);
}
.about03::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.about03 .box{
	position: relative;
	z-index: 2;
}
.about03 .box .item::after{
	content: '';
	display: table;
	clear: both;
}
.about03 .box .item .img{
	width: 35%;
	float: left;
	margin: 0 5% 1rem 0;
}
.about03 .box .item .img img{
	width: 100%;
	height: auto;
}
.about03 .box .item .txt{
	width: 100%;
}
.about03 .box .item .txt h3{
	font-size: 1.8rem;
	line-height: 1.5;
	color: var(--brown);
	margin-bottom: 2rem;
}
.about03 .box .item .txt h4{
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
.about03 .box .item .txt p{
	font-size: 1.15rem;
	line-height: 2.4;
}
/*///////////////////////////////////////////////////
//
//            ▼ about04 ▼
//
///////////////////////////////////////////////////*/
.about04{
	padding: 6rem 0;
}
.about04 .box{
	position: relative;
	background: rgba(196,227,204,.3);
	padding: 5rem 0 6rem;
}
.about04 table{
	max-width: 980px;
	width: 80%;
	margin: 0 auto;
}
.about04 table th,
.about04 table td{
	border-bottom: solid 1px #707070;
	font-size: 1.125rem;
	text-align: left;
	padding: 0.6rem 0;
}
.about04 table tr:last-of-type th,
.about04 table tr:last-of-type td{
	border-bottom: none;
}
.about04 table th{
	color: var(--green03);
	vertical-align: top;
	width: 15%;
}
.about04 table td{
	padding-left: 1.5rem;
	width: 85%;
}
.about04 table td a{
	display: inline;
	text-decoration: underline;
	transition: .7s;
}
.about04 table td a:hover{
	color: var(--emegreen);
}
.about04 table td a span{
	margin-left: 0.25rem;
}
.about04 table td .gmap{
	margin-top: 1rem;
}
.about04 .box .fig{
	position: absolute;
	width: 14rem;
}
.about04 .box .fig img{
	width: 100%;
	height: auto;
}
.about04 .box .fig01{
	top: 1rem;
	left: 1rem;
}
.about04 .box .fig02{
	bottom: 1rem;
	right: 1rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ blog02、before_after02 ▼
//
///////////////////////////////////////////////////*/
.post_wrap{
	padding: 8rem 0 12rem;
}
.post_wrap .post_wrap_in{
	display: flex;
	justify-content: space-between;
}
.post_wrap .main_contents{
	width: 75%;
}
.post_wrap .main_contents_in{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.blog02 .main_contents article{
	width: 50%;
	margin-top: 3.5rem;
}
.blog02 .main_contents article:nth-of-type(-n+2){
	margin-top: 0;
}
.blog02 .main_contents article a{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blog02 .main_contents article a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(229,242,232,.4);
	transition: .7s cubic-bezier(.79,.01,.21,.96);
}
.blog02 .main_contents article a:hover::before{
	width: 100%;
}
.blog02 .main_contents article a .img{
	position: relative;
	width: 34%;
	z-index: 2;
	overflow: hidden;
}
.blog02 .main_contents article a .img img{
	width: 100%;
	height: auto;
	transition: .7s cubic-bezier(.79,.01,.21,.96) .1s;
}
.blog02 .main_contents article a:hover .img img{
	transform: scale(1.05);
}
.blog02 .main_contents article a .txt{
	position: relative;
	width: 66%;
	padding: 0 1.5rem;
	z-index: 2;
}
.blog02 .main_contents article a .txt h2{
	font-size: 1.125rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
	margin-bottom: 0.75rem;
}
.blog02 .main_contents article a .txt p{
	color: #555;
	line-height: 1.8;
}
.blog02 .main_contents article a .txt time{
	display: inline-block;
	font-size: 0.875rem;
	color: #555;
	margin-top: 0.75rem;
}

.before_after02 .main_contents article{
	width: 48.75%;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.15);
	margin-top: 3.5rem;
	transition: 1s;
}
.before_after02 .main_contents article:nth-of-type(-n+2){
	margin-top: 0;
}
.before_after02 .main_contents article:hover{
	box-shadow: 0 6px 30px rgba(132,153,137,.7);
}
.before_after02 .main_contents article a{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem;
}
.before_after02 .main_contents article a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--green01);
	transition: .5s;
}
.before_after02 .main_contents article a:hover::before{
	width: 100%;
}
.before_after02 .main_contents article a .img{
	position: relative;
	min-width: 12rem;
	width: 40%;
	z-index: 2;
	overflow: hidden;
}
.before_after02 .main_contents article a .img img{
	width: 100%;
	height: auto;
	transition: 1s;
}
.before_after02 .main_contents article a:hover .img img{
	transform: scale(1.05);
}
.before_after02 .main_contents article a .txt{
	position: relative;
	width: 60%;
	padding-left: 1.25rem;
	z-index: 2;
}
.before_after02 .main_contents article a .txt h2{
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 0.25rem;
	color: var(--brown);
}
.before_after02 .main_contents article a .txt .inner{
	margin-top: 3rem;
}
.before_after02 .main_contents article a .txt .inner h3{
	font-size: 1rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
}
.before_after02 .main_contents article a .txt .inner p{
	color: #666;
}

.post_wrap .pagenaition{
	margin-top: 6rem;
}
.post_wrap .pagenaition ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.post_wrap .pagenaition ul li{
	margin-right: 1.5rem;
}
.post_wrap .pagenaition ul li:last-of-type{
	margin-right: 0;
}
.post_wrap .pagenaition ul li.active span,
.post_wrap .pagenaition ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.75rem;
	height: 2.75rem;
}
.post_wrap .pagenaition ul li.active span{
	color: #fff;
	background: var(--green03);
}
.post_wrap .pagenaition ul li a{
	background: var(--green02);
	transition: 1s;
}
.post_wrap .pagenaition ul li a:hover{
	background: var(--green01);
}

.post_wrap aside{
	width: 25%;
	padding-left: 3%;
}
.post_wrap aside h3{
	font-size: 1.25rem;
	color: var(--brown);
	border-bottom: solid 1px var(--brown);
	margin-bottom: 1rem;
}
.post_wrap aside .box article{
	margin-top: 1rem;
}
.post_wrap aside .box article:first-of-type{
	margin-top: 0;
}
.post_wrap aside .box article a{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.post_wrap aside .box article a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(229,242,232,.4);
	transition: .7s cubic-bezier(.79,.01,.21,.96);
}
.post_wrap aside .box article a:hover::before{
	width: 100%;
}
.post_wrap aside .box article a .img{
	position: relative;
	width: 30%;
	z-index: 2;
	overflow: hidden;
}
.post_wrap aside .box article a .img img{
	width: 100%;
	height: auto;
	transition: .7s cubic-bezier(.79,.01,.21,.96) .1s;
}
.post_wrap aside .box article a:hover .img img{
	transform: scale(1.05);
}
.post_wrap aside .box article a .txt{
	position: relative;
	width: 70%;
	padding: 0 1rem;
	z-index: 2;
}
.post_wrap aside .box article a .txt h4{
	font-size: 0.875rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
}
.post_wrap aside .box article a .txt p{
	font-size: 0.75rem;
}
.post_wrap aside .box article a .txt h5{
	font-size: 0.75rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
	margin-top: 0.5rem;
}
.post_wrap aside .box02,
.post_wrap aside .box03{
	margin-top: 3rem;
}
.post_wrap aside .box02 article a .txt p{
	color: #555;
	-webkit-line-clamp: 1;
}
.post_wrap aside .box02 article a .txt time{
	display: inline-block;
	font-size: 0.75rem;
	color: #555;
	margin-top: 0.5rem;
}
.post_wrap aside .box03 .links a{
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0.5rem;
	color: var(--emegreen);
	border: solid 1px var(--emegreen);
	transition: 1s cubic-bezier(.79,.01,.21,.96);
}
.post_wrap aside .box03 .links a::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--emegreen);
	transition: 1s cubic-bezier(.79,.01,.21,.96);
}
.post_wrap aside .box03 .links a:hover{
	color: #fff;
}
.post_wrap aside .box03 .links a:hover::before{
	width: 100%;
}
.post_wrap aside .box03 .links a span{
	position: relative;
	z-index: 2;
}
/*///////////////////////////////////////////////////
//
//            ▼ IE対策 ▼
//
///////////////////////////////////////////////////*/
@media all and (-ms-high-contrast: none) {

}




























/*///////////////////////////////////////////////////
//
//            ▼ プライバシーポリシー01 ▼
//
///////////////////////////////////////////////////*/
.privacypolicy01 .box{
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 2rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.5rem;
	margin: 3rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 2rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 2rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box .right{
	text-align: right;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ プライバシーポリシー01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

