
/*///////////////////////////////////////////////////
//
//            ▼ ベース設定 ▼
//
///////////////////////////////////////////////////*/
/* @font-face {
	font-family: "myfont";
	src: url(../fonts/.woff) format("woff"),
				url(../fonts/.otf) format("otf");
} */
body{-webkit-text-size-adjust: 100%;}
html{
	color: #000;
	font-size: 15px;
	line-height: 2;
	/*font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;*/
	font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	/*font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;*/
	/*font-family: '小塚ゴシック Pro','Kozuka Gothic Pro',sans-serif;*/
	-webkit-text-size-adjust: 100%;
}
a{
	color: #111;
	display: block;
}
#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.l_container{
	width: 100%;
	padding:0 1rem;
}
.container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.m_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.s_container{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding:0 1.5rem;
}
.is_pc{display: none;}
.is_hidden_tab{display: none;}
.is_hidden_sp{display: none;}
:root{
	--insta_blue:#4C64D3;
	--insta_red:#CF2E92;
	--insta_orange:#F26939;
	--insta_yellow:#FFDD83;
	--facebook: #3C5A99;
	--twitter: #1DA1F2;
	--line: #00B900;
	--youtube: #DA1725;
	--brown: #795B37;
	--emegreen: #65C097;
	--green01: #e5f2e8;
	--green02: #c4e3cc;
	--green03: #849989;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.inertia{ -webkit-overflow-scrolling: touch; }
.preload * { transition: none !important; }

/*///////////////////////////////////////////////////
//
//            ▼ 共通 ▼
//
///////////////////////////////////////////////////*/
body.active{
	overflow: hidden;
}
main{
	margin-top: 4.6rem;
}
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
	opacity: 0;
	visibility: hidden;
	transition: .7s;
	z-index: 49999;
}
#overlay.active{
	opacity: 1;
	visibility: visible;
}
.roboto{
	font-family: 'Roboto', sans-serif;
}
.ttl_wrap{
	text-align: center;
	color: var(--brown);
	margin-bottom: 1.75rem;
}
.ttl_wrap .txt01{
	font-size: 0.67rem;
	font-weight: bold;
	letter-spacing: 0.05em;
}
.ttl_wrap .ttl{
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	letter-spacing: 0.05em;
	margin-top: 0.5rem;
}

.btn{
	position: relative;
	max-width: 20rem;
	width: 100%;
	border: solid 1px var(--brown);
	border-radius: 2rem;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
}
.btn.line{
	background: var(--line);
	border: solid 1px var(--line);
}
.btn.green{
	border: solid 1px var(--green03);
}
.btn a{
	position: relative;
	font-weight: bold;
	color: var(--brown);
	text-align: center;
	max-width: 20rem;
	width: 100%;
	height: 3.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.btn.line a{
	color: #fff;
}
.btn.green a{
	color: var(--green03);
}
.btn a .angle{
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
	font-size: 1.4rem;
}
.btn.line a .icon{
	font-size: 2rem;
	margin-right: 1rem;
}

.vertical_txt{
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.fadein{
	opacity: 0;
	transform: translateY(50px);
}
.fadein.active{
	opacity: 1;
	transform: translateY(0);
	transition: 1s;
}
.fade_side_r{
	opacity: 0;
	transform: translateX(-50px);
}
.fade_side_l{
	opacity: 0;
	transform: translateX(50px);
}
.fade_side_r.active,
.fade_side_l.active{
	opacity: 1;
	transform: translateY(0);
	transition: 1s;
}
.txt_show{
	opacity: 0;
}
.txt_show.active{
	opacity: 1;
	transition: opacity 1.3s cubic-bezier(.79,.01,.21,.96) .5s;
}
/*///////////////////////////////////////////////////
//
//            ▼ ナビ ▼
//
///////////////////////////////////////////////////*/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 50000;

}
header .header_in{
	display: flex;
	align-items: center;
	padding: 0 0.5rem 0 1.75rem;
	transition: 1s;
}
header .header_in.active{
	background: rgba(255,255,255,.95);
}
header .logo{
	max-width: 6.1rem;
	width: 100%;
	margin-right: 1.5vw;
}
header .logo img{
	display: block;
}
header nav{
	position: fixed;
	top: 4.6rem;
	right: -100%;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.95);
	padding: 0 0 3rem;
	z-index: 50001;
	transition: .7s;
	overflow-y: scroll;
}
header nav.active{
	right: 0;
}
header nav ul{
	display: block;
}
header nav ul li{
	border-bottom: solid 1px #CCCACC;
}
header nav ul li:first-of-type{
	border-top: solid 1px #CCCACC;
}
header nav ul li a{
	font-size: 1.1rem;
	height: auto;
	padding: 1.25rem 1.5rem;
}

header .sns_wrap{
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 0.75rem;
}
header .sns_wrap a{
	color: var(--brown);
	height: 4.7rem;
	padding: 0 0.5rem;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .sns_wrap a span{
	font-size: 1.6rem;
	line-height: 1;
}

.menu_open{
	width: 3rem;
	height: 4.6rem;
	position: relative;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: var(--brown);
	width: 40%;
	height: 2px;
	transition: .7s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(6px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%);}
.menu_open span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-6px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.menu_open.active span:nth-of-type(2){opacity: 0;}
.menu_open.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}

/*///////////////////////////////////////////////////
//
//            ▼ フッター ▼
//
///////////////////////////////////////////////////*/
footer .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
footer .box .txt{
	width: 100%;
}
footer .box .txt_in{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem 1.5rem 3rem;
}
footer .box .txt .logo{
	max-width: 10rem;
	width: 100%;
}
footer .box .txt .shop_name{
	margin: 0.5rem 0 1.5rem;
	color: var(--brown);
}
footer .box .txt .shop_name p{
	font-size: 0.8rem;
	letter-spacing: 0.05em;
}
footer .box .txt .shop_name h3{
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 0.05em;
}
footer .box .txt .address p{
	text-align: left;
	letter-spacing: 0.05em;
	line-height: 1.6;
}
footer .box .txt .address p + p{
	margin-top: 1.5rem;
}
footer .box .txt .sns_wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1.5rem;
}
footer .box .txt .sns_wrap a{
	margin-right: 1.5rem;
	font-size: 2rem;
	line-height: 1;
	color: var(--brown);
}
footer .box .txt .sns_wrap a:last-of-type{
	margin-right: 0;
}
footer .box .r_box{
	width: 100%;
}
footer .gmap{
	height: 0;
	overflow: hidden;
	padding-bottom: 75%;
	position: relative;
}
footer .gmap iframe{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
footer .copyright{
	background: var(--brown);
	padding: 1.25rem;
}
footer .copyright p{
	color: #fff;
	text-align: center;
	font-size: 0.66rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ01 ▼
//
///////////////////////////////////////////////////*/
.top01 .mv{
	position: relative;
	width: 100%;
	height: 60vh;
	min-height: 487px;
	background: url(../images/top/mv_sp.jpg) center center / cover no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 2.5rem 2rem 8rem 2rem;
}
.top01 .mv::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.25);
}
.top01 .mv .txt{
	position: relative;
	color: #fff;
	z-index: 2;
}
.top01 .mv .txt h2{
	font-size: 3.13rem;
	line-height: 1.27;
	letter-spacing: 0.025em;
	margin-bottom: 1.5rem;
}
.top01 .mv .txt p{
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.05em;
}
.top01 .mv .txt p .underline{
	position: relative;
	display: inline-block;
	font-size: 1.6rem;
}
.top01 .mv .txt p .underline::before{
	position: absolute;
	content: '';
	top: 50%;
	left: -2%;
	width: 0;
	height: 1.1rem;
	background: #849989;
	z-index: -1;
	transition: 1s cubic-bezier(.79,.01,.21,.96) 1.2s;
}
.top01 .mv .txt p .underline.active::before{
	width: 104%;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ02 ▼
//
///////////////////////////////////////////////////*/
.top02{
	padding: 3rem 0;
}
.top02 .ttl_wrap{
	margin-bottom: 2rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ03 ▼
//
///////////////////////////////////////////////////*/
.before_after_wrap{
	padding: 3rem 0 7rem;
	overflow: hidden;
}
.before_after_wrap.top03::before{
	position: absolute;
	content: '';
	top: 5.5rem;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(229,242,232,.4);
}
.before_after_wrap_in{
	position: relative;
	z-index: 2;
}
.before_after_wrap .box article{
	background: #fff;
	box-shadow: 0 2px 8px rgba(0,0,0,.15);
	margin-top: 1.25rem;
}
.before_after_wrap .box article:first-of-type{
	margin-top: 0;
}
.before_after_wrap .box article a{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem;
}
.before_after_wrap .box article a .img{
	width: 35%;
	z-index: 2;
}
.before_after_wrap .box article a .img img{
	width: 100%;
	height: auto;
}
.before_after_wrap .box article a .txt{
	width: 65%;
	padding-left: 0.75rem;
}
.before_after_wrap .box article a .txt h4{
	font-size: 0.9rem;
	line-height: 1.5;
	color: var(--brown);
}
.before_after_wrap .box article a .txt p.name{
	font-size: 0.86rem;
}
.before_after_wrap .box article a .txt .inner{
	margin-top: 0.5rem;
}
.before_after_wrap .box article a .txt .inner h5{
	font-size: 0.85rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
}
.before_after_wrap .box article a .txt .inner p{
	font-size: 0.75rem;
	color: #666;
	line-height: 1.5;
}
.before_after_wrap .btn{
	margin-top: 2.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ04 ▼
//
///////////////////////////////////////////////////*/
.top04{
	padding: 3rem 0 0;
	background: rgba(229,242,232,.4);
}
.top04 .img01{
	position: relative;
	max-width: 180px;
	width: 40%;
	margin: 0 auto;
	z-index: 2;
}
.top04 .img01 h3{
	position: absolute;
	top: -1.3rem;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	font-size: 0.9rem;
	letter-spacing: 0.05em;
	color: var(--brown);
}
.top04 .img02{
	position: relative;
	margin-top: -12vw;
	z-index: 1;
}
.top04 .img02::before{
	position: absolute;
	content: '';
	bottom: 100%;
	right: 0;
	width: 100%;
	height: 50rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.top04 img{
	width: 100%;
	height: auto;
}
.top04 .box{
	background: #fff;
	padding: 3rem 0;
}
.top04 .box_in h4{
	font-size: 1.8rem;
	line-height: 2.4;
	white-space: nowrap;
	margin: 0 auto;
}
.top04 .box_in .txt{
	margin-top: 3.5rem;
}
.top04 .box_in .txt p{
	line-height: 2;
}
.top04 .box_in .txt p + p{
	margin-top: 2rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ05 ▼
//
///////////////////////////////////////////////////*/
.top05{
	padding: 3rem 0 4rem;
}
.top05 .box{
	padding: 0 1.5rem;
}
.top05 .box .item{
	margin-top: 2.5rem;
}
.top05 .box .item:first-of-type{
	margin-top: 0;
}
.top05 .box .item a{
	position: relative;
}
.top05 .box .item a .treatment_time{
	position: absolute;
	top: -1.75rem;
	right: -0.75rem;
	width: 4rem;
	height: 4rem;
	background: var(--brown);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.top05 .box .item a .treatment_time p{
	color: #fff;
	text-align: center;
	font-size: 0.8rem;
}
.top05 .box .item a .img img{
	width: 100%;
	height: auto;
}
.top05 .box .item .txt{
	margin-top: 1rem;
	text-align: center;
}
.top05 .box .item .txt h4{
	position: relative;
	font-size: 1rem;
	color: var(--brown);
	margin-bottom: 1.5rem;
}
.top05 .box .item .txt h4::after{
	position: absolute;
	content: '';
	top: 100%;
	left: 50%;
	transform: translateX(-50%) translateY(0.5rem);
	background: #DCD8E7;
	width: 2rem;
	height: 1px;
}
.top05 .box .item .txt p{
	font-size: 0.9rem;
}
.top05 .box .item .txt .is_sp02{
	display: block;
}
.top05 .btn{
	margin-top: 2rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ06 ▼
//
///////////////////////////////////////////////////*/
.top06{
	background: rgba(229,242,232,.4);
	padding: 3rem 0 5rem;
}
.top06::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 15rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.top06 .box{
	position: relative;
	z-index: 2;
}
.top06 .item{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 4.5rem;
}
.top06 .item:first-of-type{
	margin-top: 0;
}
.top06 .item:nth-of-type(odd) .img{
	order: 1;
	margin-right: -1.5rem;
}
.top06 .item:nth-of-type(even) .img{
	order: 2;
	margin-left: -1.5rem;
}
.top06 .item .img img{
	width: 100%;
	height: auto;
}
.top06 .item .txt{
	text-align: center;
	margin-top: 1rem;
}
.top06 .item_in .txt h4{
	font-size: 1.2rem;
	line-height: 1.8;
	margin-bottom: 1rem;
}
.top06 .item_in .txt p{
	font-size: 0.9rem;
}
.top06 .item_in .txt .btn_wrap{
	margin-top: 2rem;
}
.top06 .item_in .txt .btn_wrap .btn{
	margin-top: 0.75rem;
}
.top06 .item_in .txt .btn_wrap .btn:first-of-type{
	margin-top: 0;
}
.top06 .item_in .txt .is_sp02{
	display: block;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ07 ▼
//
///////////////////////////////////////////////////*/
.top07{
	padding: 3rem 0 4rem;
}
.top07 .box article{
	margin-top: 1.5rem;
}
.top07 .box article:first-of-type{
	margin-top: 0;
}
.top07 .box article a{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top07 .box article a .img{
	width: 38%;
	z-index: 2;
}
.top07 .box article a .img img{
	width: 100%;
	height: auto;
}
.top07 .box article a .txt{
	width: 62%;
	padding-left: 1rem;
}
.top07 .box article a .txt h4{
	font-size: 1rem;
	color: var(--brown);
	-webkit-line-clamp: 1;
	margin-bottom: 0.5rem;
}
.top07 .box article a .txt p{
	font-size: 0.9rem;
	color: #555;
	line-height: 1.5;
}
.top07 .box article a .txt time{
	display: inline-block;
	font-size: 0.8rem;
	color: #555;
	margin-top: 0.5rem;
}
.top07 .btn{
	margin-top: 2.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ08 ▼
//
///////////////////////////////////////////////////*/
.top08{
	padding: 0 0 4rem;
}
.top08 .box{
	position: relative;
	background: rgba(196,227,204,.3);
	padding: 5rem 1.5rem;
	text-align: center;
}
.top08 .box h3{
	font-size: 1.2rem;
	letter-spacing: 0.05em;
	line-height: 1.65;
	color: var(--green03);
	margin-bottom: 1.5rem;
}
.top08 .box p{
	text-align: left;
}
.top08 .box p + p{
	margin-top: 1.5rem;
}
.top08 .box .btn{
	margin-top: 2rem;
}
.top08 .box .fig{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 8rem;
}
.top08 .box .fig01{
	top: 1.5rem;
}
.top08 .box .fig02{
	bottom: 1.5rem;
}
.top08 .box .fig img{
	width: 100%;
	height: auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ お問い合わせ 共通 ▼
//
///////////////////////////////////////////////////*/
.contact_wrap .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.contact_wrap .box .img{
	position: relative;
	order: 2;
}
.contact_wrap .box .img::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(229,242,232,.25);
}
.contact_wrap .box .txt{
	order: 1;
	width: 100%;
	text-align: center;
	padding: 3rem 1.5rem 3.5rem;
	background: #FAFAFA;
}
.contact_wrap .box .txt p.copy{
	font-size: 1.2rem;
	color: var(--green03);
}
.contact_wrap .box .txt .btn_wrap{
	width: 100%;
	margin-top: 1.75rem;
}
.contact_wrap .box .txt .btn_wrap .btn{
	margin-top: 0.75rem;
}
.contact_wrap .box .txt .btn_wrap .btn:first-of-type{
	margin-top: 0;
}
/*///////////////////////////////////////////////////
//
//            ▼ キャンペーンバナー ▼
//
///////////////////////////////////////////////////*/
.campaign{
	position: relative;
}
.campaign .limited{
	position: absolute;
	top: -1.25rem;
	left: -1.5rem;
	background: var(--emegreen);
	width: 3.8rem;
	height: 3.8rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-15deg);
	box-shadow: 0 1px 5px rgb(0,0,0,.3);
}
.campaign .limited p{
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.2;
	color: #fff;
}
.campaign .ttl_box{
	background: rgba(101,192,151,.15);
	border: solid 2px #65C097;
}
.campaign .ttl_box .ttl{
	font-size: 1.33rem;
	line-height: 1.4;
	color: #65C097;
	text-align: center;
	padding: 0.5rem 1rem;
}
.campaign .campaign_in{
	padding: 0.5rem 0.5rem 1.5rem;
	border: solid 2px #65C097;
	border-top: none;
}
.campaign .img_wrap{
	display: flex;
	justify-content: space-between;
}
.campaign .img_wrap .img{
	width: 48.75%;
}
.campaign .img_wrap .img:first-of-type{
	margin-top: 0;
}
.campaign .img_wrap .img img{
	width: 100%;
	height: auto;
}
.campaign .emegreen{
	color: var(--emegreen);
}
.campaign .txt_wrap{
	margin-top: 0.5rem;
}
.campaign .txt_wrap .txt p span{
	font-weight: bold;
}
.campaign .txt_wrap .img{
	max-width: 400px;
	width: 95%;
	margin: 0.5rem auto 0;
}
.campaign .txt_wrap .img img{
	width: 100%;
	height: auto;
}
.campaign .btn{
	margin-top: 1.5rem;
}

.campaign_lower{
	position: relative;
	width: 100%;
	margin: 0 auto;
	border: solid 2px #65C097;
	background: rgba(152,209,190,.15);
}
.campaign_lower .campaign_lower_in{
	width: 100%;
	padding: 1.25rem 1rem;
	text-align: center;
}
.campaign_lower .limited{
	position: absolute;
	top: -1.25rem;
	left: -1.5rem;
	background: var(--emegreen);
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-15deg);
	box-shadow: 0 1px 5px rgb(0,0,0,.3);
}
.campaign_lower .limited p{
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.2;
	color: #fff;
}
.campaign_lower .txt{
	position: relative;
}
.campaign_lower .txt .fig{
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translateX(-50%) translateX(-1rem);
	width: 4.5rem;
}
.campaign_lower .txt .fig img{
	width: 100%;
	height: auto;
}
.campaign_lower .txt p{
	font-size: 1rem;
	line-height: 1;
	font-weight: bold;
	color: #555;
}
.campaign_lower .txt p.course{
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 1.2;
}
.campaign_lower .txt p.price{
	margin: 3rem 0 0.75rem;
}
.campaign_lower .txt p .large_txt{
	color: var(--green02);
	font-size: 2.5rem;
}
.campaign_lower .txt p .medium_txt{
	font-size: 1.3rem;
}
.campaign_lower .btn{
	margin: 0 auto;
}
/*///////////////////////////////////////////////////
//
//            ▼ 下層共通 ▼
//
///////////////////////////////////////////////////*/
.lower_mv{
	padding: 2rem 0 0;
}
.lower_mv .ttl_wrap{
	text-align: left;
}
.lower_mv .ttl_wrap .txt01{
	font-size: 0.65rem;
}
.lower_mv .ttl_wrap .ttl{
	font-size: 2.4rem;
}
.lower_mv .mv{
	margin: 0 -1.5rem;
}
.lower_mv .mv img{
	width: 100%;
	height: auto;
}

.lower_menu{
	padding: 1.5rem 0 4.5rem;
}
.lower_menu p{
	font-size: 0.9rem;
	letter-spacing: 0.05em;
	text-align: center;
	color: #888;
}
.lower_menu ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 1rem;
}
.lower_menu ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.75rem 2% 0 0;
	border: solid 1px #CCCACC;
	border-radius: 1.25rem;
}
.lower_menu.menu_price ul li{ width: 32%; }
.lower_menu.treatment ul li{ width: 49%; }
.lower_menu.menu_price ul li:nth-of-type(-n+3){
	margin-top: 0;
}
.lower_menu.treatment ul li:nth-of-type(-n+2){
	margin-top: 0;
}
.lower_menu.menu_price ul li:nth-of-type(3n),
.lower_menu.treatment ul li:nth-of-type(2n),
.lower_menu ul li:last-of-type{
	margin-right: 0;
}
.lower_menu ul li a{
	padding: 0.75rem 0.25rem;
	font-size: 0.75rem;
	line-height: 1;
	letter-spacing: 0.05em;
	color: var(--brown);
	text-align: center;
	width: 100%;
}
.lower_menu ul li a.small{
	font-size: 0.6rem;
}

.table_wrap{
	width: 100%;
	height: 100%;
	overflow-x: scroll;
	border: solid 1px #707070;
	margin-top: 2rem;
}
.table_wrap table{
	width: 100%;
}
table th,
table td{
	font-size: 0.75rem;
	line-height: 1.5;
	border: solid 1px #707070;
	padding: 0.75rem 0.5rem;
}
table thead th{
	background: #C4E3CC;
}
table tbody th,
table tbody td{
	font-weight: normal;
	text-align: center;
	background: #fff;
}
table td.price{
	text-align: right;
}
table td.txt_l{
	text-align: left;
}

.links_wrap{
	background: rgba(229,242,232,.4);
	padding: 1rem 0;
	margin-top: 3rem;
}
.links_wrap ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.links_wrap ul li{
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0,0,0,.16);
	width: 49%;
	margin-top: 0.5rem;
}
.links_wrap ul li a{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	height: 100%;
}
.links_wrap ul li a .img{
	width: 30%;
	overflow: hidden;
}
.links_wrap ul li a .img img{
	width: 100%;
	height: auto;
}
.links_wrap ul li a .txt{
	width: 70%;
	padding: 0 0.5rem;
}
.links_wrap ul li a .txt p{
	font-size: 0.75rem;
	font-weight: bold;
	line-height: 1.7;
	color: var(--brown);
}
/*///////////////////////////////////////////////////
//
//            ▼ menu_price02 ▼
//
///////////////////////////////////////////////////*/
.menu_price02{
	padding: 3rem 0;
}
.menu_price02 .fade_side_l,
.menu_price02 .fade_side_r{
	transform: translateY(50px);
}
.menu_price02 .fade_side_l.active,
.menu_price02 .fade_side_r.active{
	transform: translateY(0);
}
.menu_price02.first{
	padding: 0 0 3rem;
}
.menu_price02.green{
	padding: 2.5rem 0;
	background: rgba(229,242,232,.4);
}
.menu_price02.green::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.menu_price02 .box{
	position: relative;
	z-index: 2;
}
.menu_price02 .box.bg{
	padding: 5rem 0;
	background: rgba(229,242,232,.4);
}
.menu_price02 .box .item{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.menu_price02 .box .item .txt{
	width: 100%;
}
.menu_price02 .box .item .txt h2{
	font-size: 1.3rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 1rem;
}
.menu_price02 .box .item .txt .btn{
	margin: 2rem 0 0;
}
.menu_price02 .box .item .img01,
.menu_price02 .box .item .img02{
	width: 47%;
	margin-top: 2rem;
}
.menu_price02 .box .item .img01 img,
.menu_price02 .box .item .img02 img{
	width: 100%;
	height: auto;
}
.menu_price02#contents05 .box .item .img01{
	width: 100%;
	margin: 1.5rem auto 0;
}
.menu_price02 .box .item .txt02{
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
}
.menu_price02 .box .item .txt02 .txt_in{
	margin-top: 1.5rem;
}
.menu_price02 .box .item .txt02 .ttl{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
.menu_price02 .box .item .txt02 .ttl h3{
	font-size: 1.2rem;
	color: var(--brown);
}
.menu_price02 .box .item .txt02 .ttl .price{
	font-size: 1.2rem;
	font-weight: bold;
}
.menu_price02 .box .item .txt02 .ttl .price span{
	font-size: 1rem;
}
.menu_price02 .box .item .txt02 .copy{
	font-size: 0.9rem;
}

.menu_price02#contents01 .table_wrap table,
.treatment04 .table_wrap table{
	width: 1080px;
}
.menu_price02#contents02 .table_wrap table{
	width: 880px;
}
.menu_price02#contents01 .table_wrap table th:first-child,
.menu_price02#contents02 .table_wrap table th:first-child,
.treatment04 .table_wrap table th:first-child{
	border-right: solid 2px #707070;
	white-space: nowrap;
}
.menu_price02#contents01 .table_wrap table th:first-child,
.treatment04 .table_wrap table th:first-child{
	width: 6.5rem;
}
.menu_price02#contents02 .table_wrap table th:first-child{
	width: 5rem;
}
.menu_price02#contents01 .table_wrap table tbody td,
.menu_price02#contents02 .table_wrap table tbody td,
.treatment04 .table_wrap table tbody td{
	width: 4.5rem;
}
.menu_price02#contents03 table th{
	width: 50%;
}
table th.recommend{
	position: relative;
	background: #ddd6cc;
	border: solid 3px #707070;
}
table th.recommend .icon{
	position: absolute;
	top: -0.75rem;
	left: 0;
	width: 2.6rem;
	height: 2.6rem;
	background: #CC0000;
	border-radius: 50%;
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-15deg);
}
table th.recommend .icon.icon02{
	width: 4.75rem;
	height: 2.6rem;
}
table th.recommend .icon p{
	color: #fff;
	font-size: 0.6rem;
	line-height: 1.2;
}
.menu_price02 .notes,
.treatment04 .notes{
	margin-top: 0.5rem;
}
.menu_price02 .notes p,
.treatment04 .notes p{
	font-size: 0.9rem;
	line-height: 1.5;
}
.menu_price02 .notes p.red,
.treatment04 .notes p.red{
	color: #CC0000;
}
.menu_price02 .campaign_lower{
	margin-top: 2rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ menu_price03 ▼
//
///////////////////////////////////////////////////*/
.menu_price03{
	padding: 1rem 0 0;
}
.menu_price03 .box{
	background: #F6F6F9;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}
.menu_price03 .box_in h2{
	font-size: 1.1rem;
	line-height: 1.8;
	text-align: center;
	color: var(--green03);
	margin-bottom: 1.25rem;
}
.menu_price03 .box_in p{
	font-size: 0.875rem;
	line-height: 2.4;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment02 ▼
//
///////////////////////////////////////////////////*/
.treatment02{
	padding: 0 0 4rem;
}
.treatment02 .box01 h2{
	font-size: 1.3rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 1.5rem;
}
.treatment02 .box01 .item{
	background: #F6F6F9;
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.treatment02 .box01 .item .inner h3{
	font-size: 1.1rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 1rem;
}
.treatment02 .box01 .item .inner p{
	font-size: 0.875rem;
	line-height: 2.4;
}
.treatment02 .box01 .item .inner p + p{
	margin-top: 1.5rem;
}
.treatment02 .box01 .item .inner ol{
	margin-left: 2rem;
}
.treatment02 .box01 .item .inner ol li{
	list-style-type: decimal;
	font-size: 0.875rem;
	line-height: 2.4;
}

.treatment02 .box02{
	margin-top: 3.5rem;
}
.treatment02 .box02 .item{
	margin-top: 3rem;
}
.treatment02 .box02 .item:first-of-type{
	margin-top: 0;
}
.treatment02 .box02 .item h3{
	font-size: 1.1rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 2rem;
}
.treatment02 .box02 .item .item_in{
	display: flex;
	justify-content: space-between;
}
.treatment02 .box02 .item .item_in .inner{
	position: relative;
	width: 46.5%;
}
.treatment02 .box02 .item .item_in .inner .num{
	position: absolute;
	top: -1.25rem;
	left: -0.75rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: solid 1px var(--brown);
	font-size: 0.75rem;
	color: var(--brown);
	background: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.treatment02 .box02 .item .item_in .inner .img{
	border: solid 1px #E5E1E1;
	border-radius: 5px;
	overflow: hidden;
}
.treatment02 .box02 .item .item_in .inner .img img{
	width: 100%;
	height: auto;
}
.treatment02 .box02 .item .item_in .inner .txt{
	margin-top: 0.75rem;
}
.treatment02 .box02 .item .item_in .inner .txt p{
	font-size: 0.875rem;
	line-height: 1.8;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment03 ▼
//
///////////////////////////////////////////////////*/
.treatment03{
	padding: 4rem 0 5rem;
}
.treatment03 .box{
	margin-bottom: 3.5rem;
}
.treatment03 .box h2{
	font-size: 1.3rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 2rem;
}
.treatment03 .box .item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.treatment03 .box .item .img{
	order: 1;
}
.treatment03 .box .item .img img{
	width: 100%;
	height: auto;
}
.treatment03 .box .item .txt{
	order: 2;
	margin-top: 1.5rem;
}
.treatment03 .box .item .txt p{
	line-height: 2.4;
}
.treatment03 .box .item .txt p.notes{
	font-size: 0.875rem;
	line-height: 2;
	margin-top: 1.5rem;
}
.treatment03 .box .item .txt .btn{
	margin-top: 2rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment04 ▼
//
///////////////////////////////////////////////////*/
.treatment04{
	padding: 2.5rem 0 6rem;
	background: rgba(229,242,232,.4);
}
.treatment04::before{
	position: absolute;
	content: '';
	bottom: 0;
	right: 0;
	width: 100%;
	height: 20rem;
	background: url(../images/common/fig.png) right bottom / 100% auto no-repeat;
}
.treatment04 .box{
	position: relative;
	z-index: 2;
}
.treatment04 .box h2{
	font-size: 1.3rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 2.75rem;
}
.treatment04 .box .item{
	margin-top: 4rem;
}
.treatment04 .box .item:first-of-type{
	margin-top: 0;
}
.treatment04 .box .item .txt.fade_side_r{
	transform: translateX(0);
}
.treatment04 .box .item h3{
	position: relative;
	font-size: 1.2rem;
	line-height: 1.4;
	margin-bottom: 1.25rem;
	text-align: center;
}
.treatment04 .box .item:nth-of-type(2) h3{
	margin-bottom: 0.4rem;
}
.treatment04 .box .item h3 .num{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: inline-block;
	font-size: 6rem;
	color: rgba(132,153,137,.3);
}
.treatment04 .box .item:nth-of-type(odd) .img{
	margin: 0 0 0 -2rem;
	transform: translateX(-50px);
}
.treatment04 .box .item:nth-of-type(even) .img{
	margin: 0 -2rem 0 0;
	transform: translateX(50px);
}
.treatment04 .box .item .img.active{
	transform: translateX(0);
	transition: 1s .5s;
}
.treatment04 .box .item .txt p{
	line-height: 2.4;
	margin-top: 1rem;
}
.treatment04 .table_wrap{
	margin-top: 3rem;
}
.treatment04 .btn{
	margin-top: 3rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment05 ▼
//
///////////////////////////////////////////////////*/
.treatment05{
	padding: 3rem 0 7rem;
}
.treatment05 .box{
	background: #F6F6F9;
	padding: 2rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.treatment05 .box .box_in{
	max-width: 880px;
	width: 100%;
	margin: 0 auto;
}
.treatment05 .box_in h2{
	font-size: 1.1rem;
	color: var(--brown);
	text-align: center;
	margin-bottom: 1rem;
}
.treatment05 .box_in p{
	font-size: 0.875rem;
	line-height: 2.4;
}
.treatment05 .box_in ol{
	margin-left: 2rem;
}
.treatment05 .box_in ol li{
	list-style-type: decimal;
	font-size: 0.875rem;
	line-height: 2.4;
}
/*///////////////////////////////////////////////////
//
//            ▼ IE対策 ▼
//
///////////////////////////////////////////////////*/











/*///////////////////////////////////////////////////
//
//            ▼ プライバシーポリシー01 ▼
//
///////////////////////////////////////////////////*/
.privacypolicy01 .box{
	margin: 0 auto;
}
.privacypolicy01 .box h1{
	font-size: 1.5rem;
	text-align: center;
	margin: 0 0 2rem;
}
.privacypolicy01 .box h2{
	font-size: 1.1rem;
	margin: 2.5rem 0 1rem;
}
.privacypolicy01 .box ol{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ol li{
	list-style: decimal;
	margin: 0.5rem 0;
}
.privacypolicy01 .box ul{
	margin: 1rem 0 1rem 1rem;
}
.privacypolicy01 .box ul li{
	list-style: disc;
}
.privacypolicy01 .box ul li ol{
	margin: 0rem 0 1.5rem 1rem;
}
.privacypolicy01 .box ul li ol li{
	list-style: decimal;
}
.privacypolicy01 .box p{
	margin: 0.5rem 0;
}
.privacypolicy01 .box .right{
	text-align: right;
}



@media screen and (orientation:portrait) {/* 縦向き */}
@media screen and (orientation:landscape) {/* 横向き */}