/*///////////////////////////////////////////////////
//
//            ▼ 共通 ▼
//
///////////////////////////////////////////////////*/
main{
	margin-top: 6rem;
}
#overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.9);
	opacity: 0;
	visibility: hidden;
	transition: .7s;
	z-index: 49999;
}
#overlay.active{
	opacity: 1;
	visibility: visible;
}
.ttl_wrap{
	margin-bottom: 2rem;
}
.ttl_wrap .txt01{
	font-size: 1rem;
}
.ttl_wrap .ttl{
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	letter-spacing: 0.05em;
	margin-top: 0.5rem;
}

.btn{
	max-width: 22rem;
}
.btn a{
	font-size: 0.95rem;
	max-width: 22rem;
	height: 3.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ ナビ ▼
//
///////////////////////////////////////////////////*/
header .header_in{
	height: 6rem;
	padding: 0 0 0 2rem;
}
header .logo{
	width: 8.5rem;
	min-width: unset;
	max-width: unset;
}
header nav{
	position: fixed;
	top: 6rem;
	right: -50%;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,.95);
	padding: 0 0 3rem;
	z-index: 50001;
	transition: .7s;
}
header nav.active{
	right: 0;
}
header nav ul{
	display: block;
}
header nav ul li{
	border-bottom: solid 1px #CCCACC;
}
header nav ul li:first-of-type{
	border-top: solid 1px #CCCACC;
}
header nav ul li a{
	font-size: 1.1rem;
	height: auto;
	padding: 1.5rem 2.5rem;
}

header .sns_wrap{
	margin-left: auto;
	margin-right: 1.5rem;
}
header .sns_wrap a{
	height: 6rem;
	padding: 0 1rem;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
header .sns_wrap a span{
	font-size: 2rem;
	line-height: 1;
}

.menu_open{
	width: 4rem;
	height: 6rem;
	position: relative;
}
.menu_open span{
	position: absolute;
	top:50%;
	left:50%;
	background: var(--brown);
	width: 40%;
	height: 2px;
	transition: .7s;
}
.menu_open span:nth-of-type(1){transform:translate(-50%,-50%) translateY(6px);}
.menu_open span:nth-of-type(2){transform:translate(-50%,-50%);}
.menu_open span:nth-of-type(3){transform:translate(-50%,-50%) translateY(-6px);}
.menu_open.active span:nth-of-type(1){transform:translate(-50%,-50%) rotate(45deg);}
.menu_open.active span:nth-of-type(2){opacity: 0;}
.menu_open.active span:nth-of-type(3){transform:translate(-50%,-50%) rotate(-45deg);}
/*///////////////////////////////////////////////////
//
//            ▼ フッター ▼
//
///////////////////////////////////////////////////*/
footer .box .txt .shop_name p{
	font-size: 0.8rem;
}
footer .box .txt .shop_name h3{
	font-size: 1.3rem;
}
footer .box .txt .address p{
	font-size: 0.875rem;
	line-height: 1.6;
}
footer .box .txt .sns_wrap a{
	margin-right: 1.25rem;
	font-size: 2.2rem;
}
.gmap{
	height: 30vh;
	min-height: 305px;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ01 ▼
//
///////////////////////////////////////////////////*/
.top01 .mv{
	padding: 3.667vw 3.667vw 9.334vw 2rem;
	margin-right: 5%;
}
.top01 .mv .txt h2{
	font-size: 8.667vw;
	line-height: 1.3;
	margin-bottom: 1.25rem;
}
.top01 .mv .txt p{
	font-size: 2.667vw;
	line-height: 1.8;
}
.top01 .mv .txt p .underline{
	font-size: 3.667vw;
}
.top01 .mv .txt p .underline::before{
	height: 2.667vw;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ03 ▼
//
///////////////////////////////////////////////////*/
.before_after_wrap.top03::before{
	top: 9.75rem;
}
.before_after_wrap .box article a .txt{
	padding-left: 1rem;
}
.before_after_wrap .box article a .txt .inner{
	margin-top: 1.5rem;
}
.before_after_wrap .box article a .txt h4{
	font-size: 1.1rem;
}
.before_after_wrap .box article a .txt p.name{
	font-size: 0.9rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ04 ▼
//
///////////////////////////////////////////////////*/
.top04 .box_in h4{
	font-size: 2.4rem;
}
.top04 .box_in .txt{
	margin: 3rem 0 0 auto;
	padding-left: 1rem;
}
.top04 .box_in .txt p{
	font-size: 1.1rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ05 ▼
//
///////////////////////////////////////////////////*/
.top05{
	padding: 3rem 0 12rem;
}
.top05 .ttl_wrap{
	margin-bottom: 2.5rem;
}
.top05 .box .item a .treatment_time{
	top: -2rem;
	right: 0.5rem;
	width: 4rem;
	height: 4rem;
}
.top05 .box .item a .treatment_time p{
	font-size: 0.9rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ06 ▼
//
///////////////////////////////////////////////////*/
.top06 .item_in .txt h4{
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
.top06 .item_in .txt p{
	font-size: 1rem;
	line-height: 2.2;
}
.top06 .item_in .txt .btn_wrap{
	margin: 2rem 0 0;
}
/*///////////////////////////////////////////////////
//
//            ▼ トップ07 ▼
//
///////////////////////////////////////////////////*/
.top07{
	padding: 6rem 0 4rem;
}
.top07 .box article a .img{
	width: 38%;
}
.top07 .box article a .txt{
	width: 62%;
	padding: 0 1.5rem 0 1rem;
}
.top07 .box article a .txt h4{
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
.top07 .box article a .txt time{
	margin-top: 0.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ お問い合わせ 共通 ▼
//
///////////////////////////////////////////////////*/
.contact_wrap .box .txt p.copy{
	font-size: 1.2rem;
}
.contact_wrap .box .txt .btn_wrap .btn{
	max-width: 18rem;
}
.contact_wrap .box .txt .btn_wrap .btn a{
	max-width: 18rem;
	font-size: 0.85rem;
}
.btn a .angle{
	font-size: 1.3rem;
	right: 0.75rem;
}
.btn.line a .icon{
	font-size: 1.7rem;
	margin-right: 0.75rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ キャンペーンバナー ▼
//
///////////////////////////////////////////////////*/
.campaign .limited{
	top: -2.25rem;
	left: -2rem;
	width: 4.5rem;
	height: 4.5rem;
}
.campaign .limited p{
	font-size: 1.3rem;
}
.campaign .ttl_box .ttl{
	font-size: 1.7rem;
}
.campaign .campaign_in{
	padding: 1.5rem;
}
.campaign .txt_wrap .img{
	max-width: 500px;
	width: 85%;
}

.campaign_lower .campaign_lower_in{
	padding: 1.5rem 1.75rem;
}
.campaign_lower .txt{
	margin-right: 2rem;
}
.campaign_lower .txt .fig{
	width: 4rem;
}
.campaign_lower .txt p{
	font-size: 1.5rem;
}
.campaign_lower .txt p.course{
	font-size: 0.85rem;
}
.campaign_lower .txt p .large_txt{
	color: var(--green02);
	font-size: 4rem;
}
.campaign_lower .txt p .medium_txt{
	font-size: 2rem;
}
.campaign_lower .btn{
	max-width: 18rem;
}
.campaign_lower .btn a{
	max-width: 18rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ 下層共通 ▼
//
///////////////////////////////////////////////////*/
table th,
table td{
	font-size: 0.7rem;
}
table td.recommend .icon{
	top: -0.5rem;
	left: -1rem;
	width: 2.5rem;
	height: 2.5rem;
}
table td.recommend .icon.icon02{
	left: -2.5rem;
	width: 5rem;
	height: 3rem;
}
table td.recommend .icon p{
	color: #fff;
	font-size: 0.6rem;
	line-height: 1.2;
	transform: scale(0.9);
}

.links_wrap ul li{
	width: 31.5%;
}
.links_wrap ul li a .img{
	width: 36%;
}
.links_wrap ul li a .txt{
	width: 64%;
	padding: 1rem 1rem;
}
.links_wrap ul li a .txt p{
	font-size: 0.75rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ menu_price02 ▼
//
///////////////////////////////////////////////////*/
.menu_price02 .box .item .txt{
	margin-top: 1.5rem;
}
.menu_price02 .box .item .txt h2{
	font-size: 1.5rem;
	margin-bottom: 0.75rem;
}
.menu_price02 .box .item .txt p{
	font-size: 1rem;
	line-height: 2.4;
}
.menu_price02 .box .item .txt02 .ttl h3{
	font-size: 1.2rem;
	color: var(--brown);
}
.menu_price02 .box .item .txt02 .ttl .price{
	font-size: 1.2rem;
	font-weight: bold;
}
.menu_price02 .box .item .txt02 .ttl .price span{
	font-size: 0.875rem;
}

.menu_price02#contents03 table{
	margin-top: -2rem;
}
.menu_price02#contents04 table{
	margin-top: -2rem;
}
.menu_price02#contents04 table th,
.menu_price02#contents04 table td{
	padding: 0.75rem 0.5rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ menu_price03 ▼
//
///////////////////////////////////////////////////*/
.menu_price03 .box_in h2{
	font-size: 1.5rem;
	margin-bottom: 1.25rem;
}
.menu_price03 .box_in p{
	font-size: 1rem;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment03 ▼
//
///////////////////////////////////////////////////*/
.treatment03 .box .item .txt p{
	font-size: 1rem;
}
.treatment03 .box .item .txt p.notes{
	font-size: 0.875rem;
	margin-top: 1.5rem;
}
.treatment03 .box .item .txt .btn{
	margin: 2.5rem 0 0;
}
/*///////////////////////////////////////////////////
//
//            ▼ treatment04 ▼
//
///////////////////////////////////////////////////*/
.treatment04 .box .item .txt{
	width: 40%;
}
.treatment04 .box .item:nth-of-type(odd) .txt{
	padding-left: 3rem;
}
.treatment04 .box .item:nth-of-type(even) .txt{
	padding-right: 3rem;
}
.treatment04 .box .item .txt h3{
	font-size: 1.4rem;
	margin-bottom: 1.25rem;
}
.treatment04 .box .item .txt h3 .num{
	top: -5rem;
	left: -1.75rem;
	font-size: 6.25rem;
}
.treatment04 .box .item .txt p{
	font-size: 1rem;
}
.treatment04 .box .item .img{
	width: 60%;
}